*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}

.homepage{
    width: 100%;
    height: 100vh;
    background-color: #f4f1e8;
}
.main{
    width: 90%;
    margin: auto;


}
.logo{
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;
    top: 40px;
    background-color: #bd8f53;
    border-radius: 50%;
    outline: 3px solid #bd8f53;
    outline-offset: 3px;
}
.img{   
    width: 85%;
    height: 85%;
    border-radius: 50%;
    position: relative;
    top: 7px;
    left: 7px;
    
}
.img>img{
    width: 100%;
}
.heading{
    width: 100%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
}
.heading>p{
    color: #191919;
    font-size: 16px;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
}
.admisation{
    width: 100%;
    position: relative;
    top: 70px;
    text-align: center;
    
}
.admisation>button{
    width: 200px;
    height: 50px;
    background-color: #e6e2de;
    font-size: 20px;
    color: #9b4819;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.admisation>button:hover{
    background-color: #bd8f53;
    color: #f4f1e8;
    transition: 0.3s;
}
.manu{
    width: 100%;
    background-color: #9b4819;
    position: relative;
    top: 120px;
    border-radius: 28px;
}
.manu>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
    
}
.manu>ul>li{
    padding: 5px 15px;
    margin: 5px;
    margin-bottom: 0px;
    background-color: #f4f1e8;
    border-radius: 15px;
    

}
.manu>ul>li>a{
    color: #9b4819;
    font-family: "Carlito", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.store{
    width: 100%;
    height: 100vh;
    background-color: #9b4819;
}
.store1{
    width: 300px;
    height: 300px;
    /* border: 2px solid #f4f1e8; */
    position: relative;
    top: 50px;
    left: 77.80%;
    background-image: url(imge/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.store2{
    width: 400px;
    height: 180px;
    /* border: 2px solid #f4f1e8; */
    position: absolute;
    left: 400px;
    top: 100vh;
    background-image: url(imge/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.store3{
    width: 200px;
    height: 200px;
    /* border: 2px solid #f4f1e8; */
    position: absolute;
    left: 70%;
    top: 166.9vh;
    background-image: url(imge/images\ \(4\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.store4{
    width: 250px;
    height: 320px;
    /* border: 2px solid #f4f1e8; */
    position: absolute;
    left: 35%;
    top: 140vh;
    background-image: url(imge/images\ \(3\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}
.store5{
    width: 300px;
    height: 450px;
    /* border: 2px solid #f4f1e8; */
    position: absolute;
    left: 0%;
    top: 125.5vh;
    background-image: url(imge/images\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.directer{
    width: 100%;
    height: 100vh;
    background-color: #f4f1e8;
}
.directer1{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 45%;
    height: 30%;
}
.left>h1{
    font-family: "Radley", serif;
    font-weight: 500;
    font-style: italic;
    color: #9b4819;
    font-size: 50px;
}
.left>p{
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #191919;
    font-size: 15px;
    margin-top: 20px;
}
.right{
    width: 40%;
    height: 70%;
}
.right>img{
    width: 300px;
    height: 400px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    
}
.TOPER{
    width: 100%;
    height: 200vh;
    background-color: #f4f1e8;
}
.topermain{
    width: 90%;
    height: 100%;
    /*background-color: orange;*/
    margin: auto;
}
.TOPERHEADING{
    width: 100%;
    height: 10%;
    /*background-color: darkorange;*/
    
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    /*margin-top: 80px;*/
}
.TOPERUP{
    width: 100%;
    height: 30%;
    /*background-color: palegoldenrod;*/
    display: flex;
    justify-content: space-between;
}
.DIVUP{
    width: 18%;
    height: 100%;
    border: 2px solid #bd8f53;
    border-radius: 10px;
    background-color: #faf4e1;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.UPIMG{
    width: 77%;
    height: 60%;
    background-image: url(imge/tttt.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    box-shadow: 0px 0px 15px 5px #bd8f53;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}
.DIVUP>p{
    text-align: center;
    font-family: "Carlito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    }
.TOPERMIDDEL{
    width: 100%;
    height: 10%;
    /*background-color: yellowgreen;*/
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
.TOPERDOWN{
    width: 100%;
    height: 20%;
    /*background-color: aqua;*/
    display: flex;
    justify-content: space-between;
}
.DIVDOWN{
    width: 22%;
    height: 100%;
    /*background-color: floralwhite;*/
    text-align: center;
    font-size: 20px;
    font-family: font-family: "Carlito", sans-serif;
    font-weight: 600;
    text-transform: capitalize;

}
.DIVBC{
    width: 70px;
    height: 70px;
    background-color: #bd8f53;
    margin: auto;
    border-radius: 50%;
    outline: 3px solid #bd8f53;
    outline-offset: 3px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #eee;

}
.DIVDOWN>hr{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #bd8f53;
}
.marq{
    width: 100%;
    height: 100px;
    background-color: #bd7851;
    margin-top: 30px;
    font-size: 70px;
    color: #f4f1e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Radley", serif;
    font-weight: 500;
}
.gal{
    width: 100%;
    height: 100vh;
    background-color: #f4f1e8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainger{
    width: 90%;
    height: 90%;
    margin: auto;
}
.galup{
    width: 100%;
    height: 65%;
    display: flex;

    
}
.gal1{
    width: 20%;
    height: 100%;
    background-image: url(imge/nnn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px #cabdaca9;
}
.gal2{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap ;
} 
.gal2div{
    width: 35%;
    height: 45%;
    background-image: url(imge/n33.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px #cabdaca9;
}

.gal3{
    width: 40%;
    height: 100%;
    background-image: url(imge/n2222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 15px 5px #cabdaca9;
    border-radius: 10px;
    
}
.galdown{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.galdo2{
    width: 35%;
    height: 80%;
    background-image: url(imge/dddd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 15px 5px #cabdaca9;
}
.galdo1{
    width: 16%;
    height: 80%;
    background-image: url(imge/dd33.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 5px #cabdaca9;
}
.foter{
    width: 100%;
    height: 400px;
    background-color: #bd8f53;
}
footer{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divfot1{
    width: 48%;
    height: 100%;

}
.divfot1>p{
    font-size: 40px;
    text-transform: capitalize;
    text-decoration: underline;
    margin-top: 20px;
}
.divfot1>ul{
    margin-top: 45px;
    font-size: 25px;
}

.divfot{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
.divfot>iframe{
    width: 80%;
    height: 80%;
}
