*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
}
.main{
    width: 100%;
    height: 914px;
    background-color: #e4c9e5;
    margin: auto;
    /* margin-top: 50px; */
    border-radius: 10px;
    border: 2px solid #a88989b7;
}
h1{
    text-align: center;
    padding-top: 50px;
    font-family: 'Arial', Times, serif, Courier, monospace;
    font-weight: bolder;

}
p{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding-top: 10px;
    letter-spacing: .5px;
}
.div1{
    width: 300px;
    height: 300px;
    margin-top: 40px;
    position: relative;
    left: -50px;
    background-color: #feb06a;
   border-radius: 50%;

}
.center{
    width: 380px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    position: absolute;
    top: 220px;
    left: 16px;
    z-index: 1;
    border-radius: 20px;
}
form{
    width: 300px;
    margin: 25px;
    margin-left: 35px;
    /* text-align: center; */
}
input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #a88989b7;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
}
select{
    width: 40%;
    margin-left: 20px ;
    margin-bottom: 20px;
    border: 2px solid black;
}
button{
    width: 300px;
    height: 50px;
    font-size: 22px;
    background-color: #feb06a;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;

}

.div2{
    width: 300px;
    height: 300px;
    background-color: #36d6e7;
    border-radius: 50%;
    position: relative;
    top: 70px;
    left: 210px;
    ;
}
.div3{
    width: 50px;
    height: 30px;
    position: relative;
    top: 50px;
    left: 181px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    letter-spacing: 1px;
}